<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestAuth</title>

</head>
<body>


<div id="vk_auth" align="center">
    <button id="authButton">Авторизоваться</button>
    <script>
        function click() {
            window.location.href = "https://oauth.vk.com/authorize?client_id=6750428$display=popup&redirect_uri=http://139.59.142.85:8000/authorization&scope=friends&response_type=code&v=5.87";

        }
        authButton.onclick = click;
    </script>
</div>

</body>
</html>